In [1]:
import pandas as pd
import numpy as np
import torch
import torch.nn as nn
import torch.nn.functional as F
import torch.utils.data as td

import pytorch_lightning as pl
from pytorch_lightning import callbacks

from tqdm.autonotebook import tqdm
import json

import typing as tp
# import faiss
import shutil
import random
import glob
from collections import Counter

np.random.seed(31337)

# Подготовка фичей

In [2]:
users_df = pd.read_csv("data/data_kion/users_processed.csv")
items_df = pd.read_csv("data/data_kion/items_processed.csv")
interactions_df = pd.read_csv("data/data_kion/interactions_processed.csv")

In [3]:
users_df.head()

   user_id        age        income sex  kids_flg
0   973171  age_25_34  income_60_90   M      True
1   962099  age_18_24  income_20_40   M     False
2  1047345  age_45_54  income_40_60   F     False
3   721985  age_45_54  income_20_40   F     False
4   704055  age_35_44  income_60_90   F     False

In [4]:
items_df.head()

,item_id,content_type,title,title_orig,genres,countries,for_kids,age_rating,studios,directors,actors,description,keywords,release_year_cat
0,10711,film,поговори с ней,Hable con ella,"['драмы', 'детективы', 'мелодрамы']",испания,False,16,unknown,педро альмодовар,"Адольфо Фернандес, Ана Фернандес, Дарио Гранди...",Мелодрама легендарного Педро Альмодовара «Пого...,"Поговори, ней, 2002, Испания, друзья, любовь, ...",2000_2010
1,2508,film,голые перцы,Search Party,"['приключения', 'комедии']",сша,False,16,unknown,скот армстронг,"Адам Палли, Брайан Хаски, Дж.Б. Смув, Джейсон ...",Уморительная современная комедия на популярную...,"Голые, перцы, 2014, США, друзья, свадьбы, прео...",2010_2020
2,10716,film,тактическая сила,Tactical Force,"['криминал', 'триллеры', 'боевики', 'комедии']",канада,False,16,unknown,адам п. калтраро,"Адриан Холмс, Даррен Шалави, Джерри Вассерман,...",Профессиональный рестлер Стив Остин («Все или ...,"Тактическая, сила, 2011, Канада, бандиты, ганг...",2010_2020
3,7868,film,45 лет,45 Years,"['драмы', 'мелодрамы']",великобритания,False,16,unknown,эндрю хэй,"Александра Риддлстон-Барретт, Джеральдин Джейм...","Шарлотта Рэмплинг, Том Кортни, Джеральдин Джей...","45, лет, 2015, Великобритания, брак, жизнь, лю...",2010_2020
4,16268,film,все решает мгновение,NaN,"['драмы', 'спорт', 'мелодрамы']",ссср,False,12,ленфильм,виктор садовский,"Александр Абдулов, Александр Демьяненко, Алекс...",Расчетливая чаровница из советского кинохита «...,"Все, решает, мгновение, 1978, СССР, сильные, ж...",1970_1980

In [5]:
items_df.columns

Index(['item_id', 'content_type', 'title', 'title_orig', 'genres', 'countries',
       'for_kids', 'age_rating', 'studios', 'directors', 'actors',
       'description', 'keywords', 'release_year_cat'],
      dtype='object')

In [6]:
interactions_df.head()

   user_id  item_id last_watch_dt  total_dur  watched_pct
0   176549     9506    2021-05-11       4250           72
1   699317     1659    2021-05-29       8317          100
2   656683     7107    2021-05-09         10            0
3   864613     7638    2021-07-05      14483          100
4   964868     9506    2021-04-30       6725          100

In [7]:
user_cat_feats = ["age", "income", "sex", "kids_flg"]

users_ohe_df = users_df.user_id
for feat in user_cat_feats:
  ohe_feat_df = pd.get_dummies(users_df[feat], prefix=feat)
  users_ohe_df = pd.concat([users_ohe_df, ohe_feat_df], axis=1)

users_ohe_df.head()

,user_id,age_age_18_24,age_age_25_34,age_age_35_44,age_age_45_54,age_age_55_64,age_age_65_inf,age_age_unknown,income_income_0_20,income_income_150_inf,income_income_20_40,income_income_40_60,income_income_60_90,income_income_90_150,income_income_unknown,sex_F,sex_M,sex_sex_unknown,kids_flg_False,kids_flg_True
0,973171,False,True,False,False,False,False,False,False,False,False,False,True,False,False,False,True,False,False,True
1,962099,True,False,False,False,False,False,False,False,False,True,False,False,False,False,False,True,False,True,False
2,1047345,False,False,False,True,False,False,False,False,False,False,True,False,False,False,True,False,False,True,False
3,721985,False,False,False,True,False,False,False,False,False,True,False,False,False,False,True,False,False,True,False
4,704055,False,False,True,False,False,False,False,False,False,False,False,True,False,False,True,False,False,True,False

In [8]:
item_cat_feats = ['content_type', 'release_year_cat',
                  'for_kids', 'age_rating', 'countries']

items_ohe_df = items_df.item_id

for feat in item_cat_feats:
  ohe_feat_df = pd.get_dummies(items_df[feat], prefix=feat)
  items_ohe_df = pd.concat([items_ohe_df, ohe_feat_df], axis=1) 

genres_dummies = (
    items_df['genres']
    .apply(lambda x: ','.join(x) if isinstance(x, list) else '')  # преобразуем списки в строки
    .str.get_dummies(sep=',')
    .add_prefix('genres_')
)

items_ohe_df = pd.concat([items_ohe_df, genres_dummies], axis=1)

items_ohe_df.head()

,item_id,content_type_film,content_type_series,release_year_cat_1920_1930,release_year_cat_1930_1940,release_year_cat_1940_1950,release_year_cat_1950_1960,release_year_cat_1960_1970,release_year_cat_1970_1980,release_year_cat_1980_1990,...,"countries_франция, япония",countries_хорватия,countries_чехия,countries_чили,countries_швейцария,countries_швеция,countries_эстония,countries_юар,countries_югославия,countries_япония
0,10711,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,2508,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,10716,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,7868,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,16268,True,False,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False

# Матрица взаимодействий

In [9]:
interactions_df.head()

   user_id  item_id last_watch_dt  total_dur  watched_pct
0   176549     9506    2021-05-11       4250           72
1   699317     1659    2021-05-29       8317          100
2   656683     7107    2021-05-09         10            0
3   864613     7638    2021-07-05      14483          100
4   964868     9506    2021-04-30       6725          100

Фильтруем малоактивных юзеров и непопулярные фильмы.

In [10]:
interactions_df.item_id.value_counts()

item_id
10440    202457
15297    193123
9728     132865
13865    122119
4151      91167
          ...
2435          1
7978          1
10642         1
13008         1
9286          1
Name: count, Length: 15706, dtype: int64

In [11]:
interactions_df.user_id.value_counts()

user_id
416206     1341
1010539     764
555233      685
11526       676
409259      625
           ...
690921        1
255412        1
264195        1
150067        1
337469        1
Name: count, Length: 962179, dtype: int64

In [12]:
print(f"N users before: {interactions_df.user_id.nunique()}")
print(f"N items before: {interactions_df.item_id.nunique()}\n")

interactions_df = interactions_df[interactions_df.watched_pct > 10]

valid_users = []

c = Counter(interactions_df.user_id)
for user_id, entries in c.most_common():
  if entries >= 5:
    valid_users.append(user_id)

valid_items = []

c = Counter(interactions_df.item_id)
for item_id, entries in c.most_common():
  if entries >= 5:
    valid_items.append(item_id)

interactions_df = interactions_df[interactions_df.user_id.isin(valid_users)]
interactions_df = interactions_df[interactions_df.item_id.isin(valid_items)]

print(f"N users after: {interactions_df.user_id.nunique()}")
print(f"N items after: {interactions_df.item_id.nunique()}")

N users before: 962179
N items before: 15706

N users after: 207255
N items after: 8823

Соберем взаимодействия в матрицу user*item так, чтобы в строках этой матрицы были user_id, в столбцах - item_id, а на пересечениях строк и столбцов - единица, если пользователь взаимодействовал с айтемом и ноль, если нет.

Такую матрицу удобно собирать в numpy array, однако нужно помнить, что numpy array индексируется порядковыми индексами, а нам же удобнее использовать item_id и user_id.

Создадим некие внутренние индексы для user_id и item_id - uid и iid. Для этого просто соберем все user_id и item_id и пронумеруем их по порядку.

In [13]:
interactions_df["uid"] = interactions_df["user_id"].astype("category")
interactions_df["uid"] = interactions_df["uid"].cat.codes

interactions_df["iid"] = interactions_df["item_id"].astype("category")
interactions_df["iid"] = interactions_df["iid"].cat.codes

print(sorted(interactions_df.iid.unique())[:5])
print(sorted(interactions_df.uid.unique())[:5])
interactions_df.head()

[np.int16(0), np.int16(1), np.int16(2), np.int16(3), np.int16(4)]
[np.int32(0), np.int32(1), np.int32(2), np.int32(3), np.int32(4)]

   user_id  item_id last_watch_dt  total_dur  watched_pct     uid   iid
0   176549     9506    2021-05-11       4250           72   33407  5056
1   699317     1659    2021-05-29       8317          100  132179   874
3   864613     7638    2021-07-05      14483          100  163580  4065
5  1032142     6686    2021-05-13      11286          100  194868  3540
6  1016458      354    2021-08-14       1672           25  191887   182

# Interactions matrix

In [32]:
positives = interactions_df[interactions_df["watched_pct"] > 80].copy()
# del data
film_counts = positives.groupby("item_id").size()
films = set(film_counts
             [film_counts >= 5]
             .index.values)

interactions_filt = positives[positives["item_id"].isin(films)]
del positives
len(interactions_filt), len(films)

(1491848, 6801)

In [33]:
interactions_filt

         user_id  item_id last_watch_dt  total_dur  watched_pct     uid   iid
1         699317     1659    2021-05-29       8317          100  132179   874
3         864613     7638    2021-07-05      14483          100  163580  4065
5        1032142     6686    2021-05-13      11286          100  194868  3540
11        988709     7571    2021-07-07       6558          100  186730  4024
14          5324     8437    2021-04-18       6598           92    1021  4478
...          ...      ...           ...        ...          ...     ...   ...
5476240   802291      512    2021-08-08       6990          100  151749   267
5476241  1073802     9927    2021-08-07       6425           97  202758  5274
5476242   268216     3071    2021-04-21       5752           98   50741  1612
5476244   438585     7829    2021-08-02       6804          100   83136  4158
5476249   384202    16197    2021-04-19       6203          100   72674  8653

[1491848 rows x 7 columns]

In [34]:
# interactions_matrix = pd.pivot_table(interactions_filt, values="watched_pct", index="user_id", columns="item_id").fillna(0)

# print("Interactions matrix: \nshape=" + str(interactions_matrix.shape))
# print(f"Density: {(interactions_matrix != 0).values.sum() / interactions_matrix.size}")
from scipy.sparse import csr_matrix

user_ids = interactions_filt['user_id'].astype('category')
item_ids = interactions_filt['item_id'].astype('category')

user_index = user_ids.cat.codes
item_index = item_ids.cat.codes

interactions_sparse = csr_matrix(
    (interactions_filt['watched_pct'].values, (user_index, item_index)),
    shape=(user_ids.cat.categories.size, item_ids.cat.categories.size),
    dtype=np.float32
)

print("Sparse Interactions matrix:")
print(f"Shape: {interactions_sparse.shape}")
density = interactions_sparse.count_nonzero() / (interactions_sparse.shape[0] * interactions_sparse.shape[1])
print(f"Density: {density:.6f}")

Sparse Interactions matrix:
Shape: (198949, 6801)
Density: 0.001103

In [35]:
triplets = interactions_filt[["user_id", "item_id"]]
del interactions_filt

In [36]:
NUM_NEGATIVE_SAMPLES = 10
triplets = pd.concat([triplets] * NUM_NEGATIVE_SAMPLES).sort_index().reset_index(drop=True)
triplets["film_neg"] = np.random.choice(range(items_ohe_df.index.unique().shape[0]), len(triplets))

In [37]:
triplets

          user_id  item_id  film_neg
0          699317     1659     14286
1          699317     1659      1288
2          699317     1659      3549
3          699317     1659      4107
4          699317     1659     14372
...           ...      ...       ...
14918475   384202    16197      2160
14918476   384202    16197       701
14918477   384202    16197      5559
14918478   384202    16197     11340
14918479   384202    16197      7385

[14918480 rows x 3 columns]

In [39]:
triplets = triplets.rename(columns={ "item_id": "film_pos"})
triplets

          user_id  film_pos  film_neg
0          699317      1659     14286
1          699317      1659      1288
2          699317      1659      3549
3          699317      1659      4107
4          699317      1659     14372
...           ...       ...       ...
14918475   384202     16197      2160
14918476   384202     16197       701
14918477   384202     16197      5559
14918478   384202     16197     11340
14918479   384202     16197      7385

[14918480 rows x 3 columns]

In [40]:
rdm = np.random.random(len(triplets))
train_data = triplets[rdm < 0.8]
val_data = triplets[(rdm >= 0.8) & (rdm < 0.9)]
test_data = triplets[rdm >= 0.9]

len(train_data), len(val_data), len(test_data)

(11932928, 1493796, 1491756)

In [41]:
items_df.shape, interactions_df.shape

((15963, 14), (2646592, 7))

In [42]:
items_ohe_df.item_id.max(),

(np.int64(16518),)

In [43]:
def pad_with_specific_value(lst, size, val):
    lst = list(set(lst))
    random.shuffle(lst)
    lst = lst[:size]
    return np.pad(lst, (0, size - len(lst)), 'constant', constant_values=(val))

padded_users = triplets.groupby("user_id").apply(lambda x: (
    pad_with_specific_value(x['film_pos'].tolist(), 30, 16518).tolist()
))

padded_users = padded_users.reindex(range(2646592), fill_value=[16518] * 30)
padded_users = np.stack(padded_users.values)

C:\Users\alfa\AppData\Local\Temp\ipykernel_6832\1250127041.py:7: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  padded_users = triplets.groupby("user_id").apply(lambda x: (

MemoryError: Unable to allocate 606. MiB for an array with shape (2646592, 30) and data type int64

In [ ]:
padded_users

array([[16518, 16518, 16518, ..., 16518, 16518, 16518],
       [16518, 16518, 16518, ..., 16518, 16518, 16518],
       [16166, 15196,  7210, ...,  7106,  2025,  2954],
       ...,
       [16518, 16518, 16518, ..., 16518, 16518, 16518],
       [16518, 16518, 16518, ..., 16518, 16518, 16518],
       [16518, 16518, 16518, ..., 16518, 16518, 16518]],
      shape=(2646592, 30))

# Создаем датасет для обучения

In [51]:
class DSSMData(pl.LightningDataModule):
  def __init__(self, train_triplets, val_triplets, test_triplets, item_features, padded_users):
      super().__init__()
      self.train_triplets = train_triplets
      self.val_triplets = val_triplets
      self.test_triplets = test_triplets
      self.item_features = item_features
      self.padded_users = padded_users

  def _collect_data(self, triplets):
      users = triplets["user_id"].values
      positives = triplets["film_pos"].values
      negatives = triplets["film_neg"].values

      # Wipe out positive interacted tracks from user listen history
      listened_tracks = self.padded_users[users]
      listened_tracks[np.isin(listened_tracks, positives)] = 16518
      listened_tracks[np.isin(listened_tracks, negatives)] = 16518

      return td.TensorDataset(
            torch.from_numpy(listened_tracks).long(),
            torch.from_numpy(items_ohe_df.loc[items_ohe_df.item_id.isin(positives)].values).double(),
            torch.from_numpy(items_ohe_df.loc[items_ohe_df.item_id.isin(negatives)].values).double()
      )

  def prepare_data(self, stage=None):
      if stage == "fit" or stage is None:
        self.train_dataset = self._collect_data(self.train_triplets)
        self.val_dataset = self._collect_data(self.val_triplets)
      elif stage == "test" or stage is None:
        self.test_dataset = self._collect_data(self.test_triplets)

  def train_dataloader(self):
      return td.DataLoader(self.train_dataset, batch_size=2048, shuffle=True, num_workers=2)

  def val_dataloader(self):
      return td.DataLoader(self.val_dataset, batch_size=2048, num_workers=2)

  def test_dataloader(self):
      return td.DataLoader(self.test_dataset, batch_size=2048, shuffle=False, num_workers=2)

In [52]:
class ItemNet(nn.Module):
    def __init__(self,
                 dim_embedding: int,
                 dim_input: int,
                 dim_hidden: int = 64, # 32
                 activation: tp.Callable[[torch.Tensor], torch.Tensor] = nn.ReLU()
                 ) -> None:
        super().__init__()
        self.embedding_layer = nn.Linear(dim_input - 1, dim_hidden, bias=False)
        # self.dense_layer = nn.Linear(dim_hidden + 1, dim_embedding, bias=False)
        self.dense_block = nn.Sequential(
            nn.Linear(dim_hidden + 1, int(dim_embedding // 2)),
            nn.ReLU(),
            # nn.Linear(int(dim_embedding // 2), int(dim_embedding // 2)),
            # nn.ReLU(),
            nn.Linear(int(dim_embedding // 2), dim_embedding),
            activation
        )
        self.output_layer = nn.Linear(dim_embedding + dim_hidden, dim_embedding, bias=False)
        self.norm = nn.LayerNorm(dim_embedding)

    def forward(self, item_features: torch.Tensor) -> torch.Tensor:
        popularity = item_features[:, 0].view(-1, 1)
        genre_emb = self.embedding_layer(item_features[:, 1:])

        pop_genre = torch.concat([popularity, genre_emb], axis=1)
        features = self.dense_block(pop_genre)

        genre_features = torch.concat([genre_emb, features], axis=1)
        output = self.output_layer(genre_features)
        return self.norm(output)


class UserNet(nn.Module):
    def __init__(self,
                 dim_embedding: int,
                 num_items: int,
                 activation: tp.Callable[[torch.Tensor], torch.Tensor] = nn.ReLU()
                 ) -> None:
        super().__init__()
        self.track_embeddings = nn.EmbeddingBag(num_items + 1, dim_embedding, padding_idx=num_items)
        # self.dense_layer = nn.Linear(dim_embedding, dim_embedding, bias=False)
        self.dense_layer = nn.Sequential(
            nn.Linear(dim_embedding, int(dim_embedding // 2)),
            nn.ReLU(),
            # nn.Linear(int(dim_embedding // 2), int(dim_embedding // 2)),
            # nn.ReLU(),
            nn.Linear(int(dim_embedding // 2), dim_embedding),
            activation
        )
        self.output_layer = nn.Linear(dim_embedding + dim_embedding, dim_embedding, bias=False)
        self.norm = nn.LayerNorm(dim_embedding)

    def forward(self, user_ids: torch.Tensor) -> torch.Tensor:
        interactions_emb = self.track_embeddings(user_ids)
        features = self.dense_layer(interactions_emb)
        x = torch.concat([interactions_emb, features], axis=1)
        output = self.output_layer(x)
        return self.norm(output)

In [53]:
class DSSM(pl.LightningModule):
    def __init__(self,
                 dim_item_features: int,
                 num_items: int,
                 embedding_dim: int = 100,
                 lr: float = 1e-3,
                 triplet_loss_margin: float = 0.4,
                 weight_decay: float = 1e-3,
                 log_to_prog_bar: bool = True,
                 ) -> None:
        super().__init__()
        self.lr = lr
        self.triplet_loss_margin = triplet_loss_margin
        self.weight_decay = weight_decay
        self.log_to_prog_bar = log_to_prog_bar
        self.item_net = ItemNet(embedding_dim, dim_item_features)
        self.user_net = UserNet(embedding_dim, num_items)

    def forward(self,
                user_ids: torch.Tensor,
                item_features_pos: torch.Tensor,
                item_features_neg: torch.Tensor,
                ) -> tp.Tuple[torch.Tensor, torch.Tensor, torch.Tensor]:
        anchor = self.user_net(user_ids)
        pos = self.item_net(item_features_pos)
        neg = self.item_net(item_features_neg)

        return anchor, pos, neg

    def _step(self, batch, batch_idx, metric, prog_bar=False):
        user_ids, pos, neg = batch
        anchor, positive, negative = self(user_ids, pos, neg)
        loss = F.triplet_margin_loss(anchor, positive, negative, margin=self.triplet_loss_margin)
        self.log(metric, loss, prog_bar=prog_bar)
        return loss

    def training_step(self, batch: tp.Sequence[torch.Tensor], batch_idx: int) -> torch.Tensor:
        return self._step(batch, batch_idx, "train_loss")

    def validation_step(self, batch: tp.Sequence[torch.Tensor], batch_idx: int) -> torch.Tensor:
        return self._step(batch, batch_idx, "val_loss", self.log_to_prog_bar)

    def test_step(self, batch, batch_idx, prog_bar=False):
        return self._step(batch, batch_idx, "test_loss", self.log_to_prog_bar)

    def inference(self, dataloader: td.DataLoader[tp.Any], mode: str = "item") -> np.ndarray:
        if mode == "user":
          model = self.user_net
        elif mode == "item":
          model = self.item_net
        else:
          raise ValueError(f"Unsupported mode {mode}!")

        self.eval()

        batches = []
        user_ids = []
        for ids, features in dataloader:
            with torch.no_grad():
                batch_embeddings = model(features.to(self.device))
            batches.append(batch_embeddings)
            user_ids.append(ids)
        vectors = torch.cat(batches, dim=0).cpu().numpy()
        vectors_ids = torch.cat(user_ids, dim=0).cpu().numpy()
        return vectors_ids, vectors

    def configure_optimizers(self):
        optimizer = torch.optim.Adam(self.parameters(), lr=self.lr, weight_decay=self.weight_decay)
        # lr_scheduler = torch.optim.lr_scheduler.ReduceLROnPlateau(optimizer, patience=3, threshold=2.5e-2, threshold_mode='rel')
        lr_scheduler = torch.optim.lr_scheduler.ReduceLROnPlateau(optimizer, patience=3, threshold=2e-3, threshold_mode='abs')
        scheduler = {
            'scheduler': lr_scheduler,
            'monitor': 'val_loss'
        }
        return [optimizer], [scheduler]

In [54]:
from pytorch_lightning.callbacks.early_stopping import EarlyStopping

class RelativeEarlyStopping(EarlyStopping):
    def __init__(
        self,
        monitor: str = "val_loss",
        patience: int = 5,
        relative_threshold: float = 1e-4,  # 0.01%
        verbose: bool = True,
    ):
        super().__init__(
            monitor=monitor,
            patience=patience,
            min_delta=0,  # We handle delta ourselves
            mode="min",
            verbose=verbose,
        )
        self.relative_threshold = relative_threshold

    def _evaluate_stopping_criteria(self, current: torch.Tensor):
        if self.best_score is None:  # First evaluation
            return False, None
            
        # Calculate relative change
        relative_change = abs((current - self.best_score) / self.best_score)
        
        if relative_change < self.relative_threshold:
            self.wait_count += 1
            if self.verbose:
                print(f"Relative change {relative_change:.4%} < threshold {self.relative_threshold:.4%}")
        else:
            if self.verbose:
                print(f"Relative change {relative_change:.4%} >= threshold {self.relative_threshold:.4%}")
            self.wait_count = 0
            
        should_stop = self.wait_count >= self.patience
        reason = (f"Relative change {relative_change:.4%} < threshold {self.relative_threshold:.4%}" 
                 if should_stop else None)
        return should_stop, reason

# Обучение

In [55]:
EMBEDDING_DIM = 96
EXPERIMENT_NAME = 'dssm_layernorm_params_arch_5'

data_module = DSSMData(train_data, val_data, test_data, items_ohe_df, padded_users)
net = DSSM(dim_item_features=92, num_items=50000, embedding_dim=EMBEDDING_DIM).double()

trainer = pl.Trainer(
    max_epochs=50,
    accelerator='cpu',
    devices=1,
    callbacks=[
        # RelativeEarlyStopping(monitor="val_loss", patience=5, relative_threshold=1.5e-2, verbose=True),
        callbacks.EarlyStopping(monitor="val_loss", patience=5, min_delta=2e-3, verbose=True),
        callbacks.LearningRateMonitor(logging_interval="step"),
        (checkpoint_callback := callbacks.ModelCheckpoint(monitor="val_loss")),
    ]
)

GPU available: False, used: False
TPU available: False, using: 0 TPU cores
HPU available: False, using: 0 HPUs

In [ ]:
trainer.fit(
    net,
    data_module,
    # ckpt_path='/home/serg_fedchn/Homework/6_semester/RecSys/recsys-course-spring-2025/jupyter/lightning_logs/version_13/checkpoints/epoch=32-step=63393.ckpt'
)

In [ ]:
checkpoint_callback.best_model_path

In [ ]:
shutil.move(checkpoint_callback.best_model_path, f"/home/serg_fedchn/Desktop/model_weights/{EXPERIMENT_NAME}.ckpt")

In [ ]:
best_dssm = DSSM.load_from_checkpoint(f"/home/serg_fedchn/Desktop/model_weights/{EXPERIMENT_NAME}.ckpt", dim_item_features=92, num_items=50000, embedding_dim=EMBEDDING_DIM)