In [1]:
import pandas as pd
import numpy as np
import torch
import torch.nn as nn
import torch.nn.functional as F
import torch.utils.data as td


# import tensorboard
import pytorch_lightning as pl
from pytorch_lightning import callbacks

from sklearn.preprocessing import MultiLabelBinarizer

from tqdm.autonotebook import tqdm
import ast
import json

import typing as tp
import shutil
import random
import glob
from collections import Counter

np.random.seed(31337)

# Подготовка фичей

In [2]:
users_df = pd.read_csv("data/data_kion/users_processed.csv")
items_df = pd.read_csv("data/data_kion/items_processed.csv")
interactions_df = pd.read_csv("data/data_kion/interactions_processed.csv")

Remap IDs to be consequent from 0 to number of unique IDs

In [3]:
users_df.head()

   user_id        age        income sex  kids_flg
0   973171  age_25_34  income_60_90   M      True
1   962099  age_18_24  income_20_40   M     False
2  1047345  age_45_54  income_40_60   F     False
3   721985  age_45_54  income_20_40   F     False
4   704055  age_35_44  income_60_90   F     False

Закодируем возраст и доход числами (по возрастанию от 0), а тем юзерам, у которых они неизвестны, заполним их медианой (категорией, в которую попадает медиана среднего по диапазонам категорий).

In [4]:
sorted_age_categories = sorted(users_df['age'].unique(), key=lambda s: float(s.split('_')[1] if len(s.split('_')) == 3 else np.inf))
age_mapper = {age: id for id, age in enumerate(sorted_age_categories)}
median_age = users_df[users_df['age'] != 'age_unknown']['age'].map(lambda s: (float(s.split('_')[2] if float(s.split('_')[2]) < np.inf else s.split('_')[1]) + float(s.split('_')[1])) / 2).median()
age_fill_value = None 
for age_cat in sorted_age_categories:
    low, high = age_cat.split('_')[1:]
    if int(low) < median_age < int(high):
        age_fill_value = age_cat
        break
age_mapper['age_unknown'] = age_mapper[age_fill_value]

sorted_income_categories = sorted(users_df['income'].unique(), key=lambda s: float(s.split('_')[1] if len(s.split('_')) == 3 else np.inf))
income_mapper = {income: id for id, income in enumerate(sorted_income_categories)}
median_income = users_df[users_df['income'] != 'income_unknown']['income'].map(lambda s: (float(s.split('_')[2] if float(s.split('_')[2]) < np.inf else s.split('_')[1]) + float(s.split('_')[1])) / 2).median()
income_fill_value = None 
for income_cat in sorted_income_categories:
    low, high = income_cat.split('_')[1:]
    if int(low) < median_income < int(high):
        income_fill_value = income_cat
        break
income_mapper['income_unknown'] = income_mapper[income_fill_value]
income_mapper

sex_mapper = {'M': -1, 'sex_unknown': 0, 'F': 1}

age_mapper, income_mapper, sex_mapper

({'age_18_24': 0,
  'age_25_34': 1,
  'age_35_44': 2,
  'age_45_54': 3,
  'age_55_64': 4,
  'age_65_inf': 5,
  'age_unknown': 2},
 {'income_0_20': 0,
  'income_20_40': 1,
  'income_40_60': 2,
  'income_60_90': 3,
  'income_90_150': 4,
  'income_150_inf': 5,
  'income_unknown': 1},
 {'M': -1, 'sex_unknown': 0, 'F': 1})

In [5]:
users_df['age'] = users_df['age'].map(age_mapper).astype(np.int32)
users_df['income'] = users_df['income'].map(income_mapper).astype(np.int32)
users_df['sex'] = users_df['sex'].map(sex_mapper).astype(np.int32)
users_df['kids_flg'] = users_df['kids_flg'].astype(np.int32)
users_df

        user_id  age  income  sex  kids_flg
0        973171    1       3   -1         1
1        962099    0       1   -1         0
2       1047345    3       2    1         0
3        721985    3       1    1         0
4        704055    2       3    1         0
...         ...  ...     ...  ...       ...
840192   339025    5       0    1         0
840193   983617    0       1    1         1
840194   251008    2       1    0         0
840195   590706    2       1    1         0
840196   166555    5       1    1         0

[840197 rows x 5 columns]

In [6]:
items_df['genres'] = items_df['genres'].map(ast.literal_eval)
items_df['countries'] = items_df['countries'].map(lambda s: list(set(s.split(', '))))

In [7]:
items_df.head()

,item_id,content_type,title,title_orig,genres,countries,for_kids,age_rating,studios,directors,actors,description,keywords,release_year_cat
0,10711,film,поговори с ней,Hable con ella,"[драмы, детективы, мелодрамы]",[испания],False,16,unknown,педро альмодовар,"Адольфо Фернандес, Ана Фернандес, Дарио Гранди...",Мелодрама легендарного Педро Альмодовара «Пого...,"Поговори, ней, 2002, Испания, друзья, любовь, ...",2000_2010
1,2508,film,голые перцы,Search Party,"[приключения, комедии]",[сша],False,16,unknown,скот армстронг,"Адам Палли, Брайан Хаски, Дж.Б. Смув, Джейсон ...",Уморительная современная комедия на популярную...,"Голые, перцы, 2014, США, друзья, свадьбы, прео...",2010_2020
2,10716,film,тактическая сила,Tactical Force,"[криминал, триллеры, боевики, комедии]",[канада],False,16,unknown,адам п. калтраро,"Адриан Холмс, Даррен Шалави, Джерри Вассерман,...",Профессиональный рестлер Стив Остин («Все или ...,"Тактическая, сила, 2011, Канада, бандиты, ганг...",2010_2020
3,7868,film,45 лет,45 Years,"[драмы, мелодрамы]",[великобритания],False,16,unknown,эндрю хэй,"Александра Риддлстон-Барретт, Джеральдин Джейм...","Шарлотта Рэмплинг, Том Кортни, Джеральдин Джей...","45, лет, 2015, Великобритания, брак, жизнь, лю...",2010_2020
4,16268,film,все решает мгновение,NaN,"[драмы, спорт, мелодрамы]",[ссср],False,12,ленфильм,виктор садовский,"Александр Абдулов, Александр Демьяненко, Алекс...",Расчетливая чаровница из советского кинохита «...,"Все, решает, мгновение, 1978, СССР, сильные, ж...",1970_1980

In [8]:
items_df.columns

Index(['item_id', 'content_type', 'title', 'title_orig', 'genres', 'countries',
       'for_kids', 'age_rating', 'studios', 'directors', 'actors',
       'description', 'keywords', 'release_year_cat'],
      dtype='object')

Закодируем жанры в

In [9]:
genres_mlb = MultiLabelBinarizer()
genres_one_hot = pd.DataFrame(genres_mlb.fit_transform(items_df['genres']),
                              columns=list(map(lambda s: f'genre_{s}', genres_mlb.classes_)),
                              index=items_df.index,
                              dtype=np.int32)
countries_mlb = MultiLabelBinarizer()
countries_one_hot = pd.DataFrame(countries_mlb.fit_transform(items_df['countries']),
                                 columns=list(map(lambda s: f'country_{s}', countries_mlb.classes_)),
                                 index=items_df.index,
                                 dtype=np.int32)
items_ohe_df = pd.concat([items_df, genres_one_hot, countries_one_hot], axis=1).drop(columns=['genres', 'genre_no_genre', 'studios', 'countries'])
items_ohe_df.head()

,item_id,content_type,title,title_orig,for_kids,age_rating,directors,actors,description,keywords,...,country_хорватия,country_чехия,country_чили,country_швейцария,country_швеция,country_эквадор,country_эстония,country_юар,country_югославия,country_япония
0,10711,film,поговори с ней,Hable con ella,False,16,педро альмодовар,"Адольфо Фернандес, Ана Фернандес, Дарио Гранди...",Мелодрама легендарного Педро Альмодовара «Пого...,"Поговори, ней, 2002, Испания, друзья, любовь, ...",...,0,0,0,0,0,0,0,0,0,0
1,2508,film,голые перцы,Search Party,False,16,скот армстронг,"Адам Палли, Брайан Хаски, Дж.Б. Смув, Джейсон ...",Уморительная современная комедия на популярную...,"Голые, перцы, 2014, США, друзья, свадьбы, прео...",...,0,0,0,0,0,0,0,0,0,0
2,10716,film,тактическая сила,Tactical Force,False,16,адам п. калтраро,"Адриан Холмс, Даррен Шалави, Джерри Вассерман,...",Профессиональный рестлер Стив Остин («Все или ...,"Тактическая, сила, 2011, Канада, бандиты, ганг...",...,0,0,0,0,0,0,0,0,0,0
3,7868,film,45 лет,45 Years,False,16,эндрю хэй,"Александра Риддлстон-Барретт, Джеральдин Джейм...","Шарлотта Рэмплинг, Том Кортни, Джеральдин Джей...","45, лет, 2015, Великобритания, брак, жизнь, лю...",...,0,0,0,0,0,0,0,0,0,0
4,16268,film,все решает мгновение,NaN,False,12,виктор садовский,"Александр Абдулов, Александр Демьяненко, Алекс...",Расчетливая чаровница из советского кинохита «...,"Все, решает, мгновение, 1978, СССР, сильные, ж...",...,0,0,0,0,0,0,0,0,0,0

In [10]:
content_type_mapper = {'film': 0, 'series': 1}
age_rating_mapper = {v: id for id, v in enumerate(sorted(items_ohe_df['age_rating'].unique()))}
release_year_cat_mapper = {y: id for id, y in enumerate(sorted(items_ohe_df['release_year_cat'].unique(), key=lambda s: float(s.split('_')[1])))}
content_type_mapper, age_rating_mapper, release_year_cat_mapper

({'film': 0, 'series': 1},
 {np.int64(0): 0,
  np.int64(6): 1,
  np.int64(12): 2,
  np.int64(16): 3,
  np.int64(18): 4,
  np.int64(21): 5},
 {'inf_1920': 0,
  '1920_1930': 1,
  '1930_1940': 2,
  '1940_1950': 3,
  '1950_1960': 4,
  '1960_1970': 5,
  '1970_1980': 6,
  '1980_1990': 7,
  '1990_2000': 8,
  '2000_2010': 9,
  '2010_2020': 10,
  '2020_inf': 11})

In [ ]:
items_ohe_df['for_kids'] = items_ohe_df['for_kids'].astype(np.int32)
items_ohe_df['age_rating'] = items_ohe_df['age_rating'].map(age_rating_mapper).astype(np.int32)
items_ohe_df['content_type'] = items_ohe_df['content_type'].map(content_type_mapper).astype(np.int32)
items_ohe_df['release_year_cat'] = items_ohe_df['release_year_cat'].map(release_year_cat_mapper).astype(np.int32)
items_ohe_df = items_ohe_df.drop(columns=['title', 'title_orig', 'directors', 'actors', 'description', 'keywords']).astype(np.int32)

items_ohe_df.head()

,item_id,content_type,for_kids,age_rating,release_year_cat,genre_аниме,genre_биография,genre_боевики,genre_военные,genre_детективы,...,country_хорватия,country_чехия,country_чили,country_швейцария,country_швеция,country_эквадор,country_эстония,country_юар,country_югославия,country_япония
0,10711,0,0,3,9,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,2508,0,0,3,10,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,10716,0,0,3,10,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,7868,0,0,3,10,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,16268,0,0,2,6,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [14]:
items_ohe_df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15963 entries, 0 to 15962
Data columns (total 125 columns):
 #    Column                    Dtype
---   ------                    -----
 0    item_id                   int32
 1    content_type              int32
 2    for_kids                  int32
 3    age_rating                int32
 4    release_year_cat          int32
 5    genre_аниме               int32
 6    genre_биография           int32
 7    genre_боевики             int32
 8    genre_военные             int32
 9    genre_детективы           int32
 10   genre_детские             int32
 11   genre_для взрослых        int32
 12   genre_документальное      int32
 13   genre_драмы               int32
 14   genre_исторические        int32
 15   genre_комедии             int32
 16   genre_короткометражные    int32
 17   genre_криминал            int32
 18   genre_мелодрамы           int32
 19   genre_музыка              int32
 20   genre_мультфильмы         int32
 21   genre_мюзиклы             int32
 22   genre_познавательные      int32
 23   genre_приключения         int32
 24   genre_про животных        int32
 25   genre_развлекательные     int32
 26   genre_семейное            int32
 27   genre_спорт               int32
 28   genre_триллеры            int32
 29   genre_ужасы               int32
 30   genre_фантастика          int32
 31   genre_фитнес              int32
 32   genre_фэнтези             int32
 33   genre_хочу всё знать      int32
 34   country_австралия         int32
 35   country_австрия           int32
 36   country_азербайджан       int32
 37   country_албания           int32
 38   country_алжир             int32
 39   country_аргентина         int32
 40   country_армения           int32
 41   country_беларусь          int32
 42   country_бельгия           int32
 43   country_болгария          int32
 44   country_бразилия          int32
 45   country_великобритания    int32
 46   country_венгрия           int32
 47   country_венесуэла         int32
 48   country_вьетнам           int32
 49   country_германия          int32
 50   country_гонконг           int32
 51   country_греция            int32
 52   country_грузия            int32
 53   country_дания             int32
 54   country_египет            int32
 55   country_замбия            int32
 56   country_израиль           int32
 57   country_индия             int32
 58   country_индонезия         int32
 59   country_иордания          int32
 60   country_иран              int32
 61   country_ирландия          int32
 62   country_исландия          int32
 63   country_испания           int32
 64   country_италия            int32
 65   country_казахстан         int32
 66   country_камбоджа          int32
 67   country_канада            int32
 68   country_кения             int32
 69   country_кипр              int32
 70   country_киргизия          int32
 71   country_китай             int32
 72   country_колумбия          int32
 73   country_коста-рика        int32
 74   country_куба              int32
 75   country_латвия            int32
 76   country_ливан             int32
 77   country_литва             int32
 78   country_люксембург        int32
 79   country_маврикий          int32
 80   country_македония         int32
 81   country_малайзия          int32
 82   country_мальта            int32
 83   country_марокко           int32
 84   country_мексика           int32
 85   country_молдова           int32
 86   country_нидерланды        int32
 87   country_новая зеландия    int32
 88   country_норвегия          int32
 89   country_оаэ               int32
 90   country_парагвай          int32
 91   country_перу              int32
 92   country_польша            int32
 93   country_португалия        int32
 94   country_пуэрто-рико       int32
 95   country_республика корея  int32
 96   country_россия            int32
 97   country_румыния           int32
 98   country_сенегал           int32
 99   country_сербия            int32
 100  country_сингапур          int32
 101  country_словакия          int32
 102  country_словения          int32
 103  country_ссср              int32
 104  country_сша               int32
 105  country_таиланд           int32
 106  country_тайвань           int32
 107  country_тунис             int32
 108  country_турция            int32
 109  country_узбекистан        int32
 110  country_украина           int32
 111  country_уругвай           int32
 112  country_филиппины         int32
 113  country_финляндия         int32
 114  country_франция           int32
 115  country_хорватия          int32
 116  country_чехия             int32
 117  country_чили              int32
 118  country_швейцария         int32
 119  country_швеция            int32
 120  country_эквадор           int32
 121  country_эстония           int32
 122  country_юар               int32
 123  country_югославия         int32
 124  country_япония            int32
dtypes: int32(125)
memory usage: 7.6 MB

In [ ]:
interactions_df.head()

   user_id  item_id last_watch_dt  total_dur  watched_pct
0   176549     9506    2021-05-11       4250           72
1   699317     1659    2021-05-29       8317          100
2   656683     7107    2021-05-09         10            0
3   864613     7638    2021-07-05      14483          100
4   964868     9506    2021-04-30       6725          100

# Матрица взаимодействий

In [9]:
interactions_df.head()

   user_id  item_id last_watch_dt  total_dur  watched_pct
0   176549     9506    2021-05-11       4250           72
1   699317     1659    2021-05-29       8317          100
2   656683     7107    2021-05-09         10            0
3   864613     7638    2021-07-05      14483          100
4   964868     9506    2021-04-30       6725          100

Фильтруем малоактивных юзеров и непопулярные фильмы.

In [10]:
interactions_df.item_id.value_counts()

item_id
10440    202457
15297    193123
9728     132865
13865    122119
4151      91167
          ...
2435          1
7978          1
10642         1
13008         1
9286          1
Name: count, Length: 15706, dtype: int64

In [11]:
interactions_df.user_id.value_counts()

user_id
416206     1341
1010539     764
555233      685
11526       676
409259      625
           ...
690921        1
255412        1
264195        1
150067        1
337469        1
Name: count, Length: 962179, dtype: int64

In [12]:
print(f"N users before: {interactions_df.user_id.nunique()}")
print(f"N items before: {interactions_df.item_id.nunique()}\n")

interactions_df = interactions_df[interactions_df.watched_pct > 10]

valid_users = []

c = Counter(interactions_df.user_id)
for user_id, entries in c.most_common():
  if entries >= 5:
    valid_users.append(user_id)

valid_items = []

c = Counter(interactions_df.item_id)
for item_id, entries in c.most_common():
  if entries >= 5:
    valid_items.append(item_id)

interactions_df = interactions_df[interactions_df.user_id.isin(valid_users)]
interactions_df = interactions_df[interactions_df.item_id.isin(valid_items)]

print(f"N users after: {interactions_df.user_id.nunique()}")
print(f"N items after: {interactions_df.item_id.nunique()}")

N users before: 962179
N items before: 15706

N users after: 207255
N items after: 8823

Соберем взаимодействия в матрицу user*item так, чтобы в строках этой матрицы были user_id, в столбцах - item_id, а на пересечениях строк и столбцов - единица, если пользователь взаимодействовал с айтемом и ноль, если нет.

Такую матрицу удобно собирать в numpy array, однако нужно помнить, что numpy array индексируется порядковыми индексами, а нам же удобнее использовать item_id и user_id.

Создадим некие внутренние индексы для user_id и item_id - uid и iid. Для этого просто соберем все user_id и item_id и пронумеруем их по порядку.

In [13]:
sorted(list(users_df.user_id.unique())) == sorted(list(range(len(users_df.user_id.unique())))), \
sorted(list(items_ohe_df.index.unique())) == sorted(list(range(len(items_ohe_df.index.unique()))))

(False, False)

In [14]:
# Step 1: Get unique IDs and create mappings
unique_user_ids = np.unique(np.concat([interactions_df["user_id"].unique(), users_df['user_id'].unique()]))
unique_item_ids = np.unique(np.concat([interactions_df["item_id"].unique(), items_df['item_id'].unique()]))

# Create mappings (old ID → new consecutive ID starting from 0)
user_id_map = {old_id: np.int32(new_id) for new_id, old_id in enumerate(unique_user_ids)}
user_id_map_to_orig = {np.int32(new_id): old_id for new_id, old_id in enumerate(unique_user_ids)}
item_id_map = {old_id: np.int32(new_id) for new_id, old_id in enumerate(unique_item_ids)}
item_id_map_to_orig = {np.int32(new_id): old_id for new_id, old_id in enumerate(unique_item_ids)}

In [15]:
interactions_df["uid"] = interactions_df['user_id'].map(user_id_map)
interactions_df["iid"] = interactions_df["item_id"].map(item_id_map)

print(sorted(interactions_df.iid.unique())[:5])
print(sorted(interactions_df.uid.unique())[:5])
interactions_df.head()

[np.int32(0), np.int32(1), np.int32(2), np.int32(3), np.int32(4)]
[np.int32(2), np.int32(3), np.int32(5), np.int32(9), np.int32(11)]

   user_id  item_id last_watch_dt  total_dur  watched_pct     uid   iid
0   176549     9506    2021-05-11       4250           72  141413  9178
1   699317     1659    2021-05-29       8317          100  560236  1604
3   864613     7638    2021-07-05      14483          100  692633  7376
5  1032142     6686    2021-05-13      11286          100  826986  6454
6  1016458      354    2021-08-14       1672           25  814480   343

# Interactions matrix

In [16]:
positives = interactions_df[interactions_df["watched_pct"] > 80].copy()
# del data
film_counts = positives.groupby("item_id").size()
films = set(film_counts[film_counts >= 5].index.values)

interactions_filt = positives[positives["item_id"].isin(films)]
del positives
len(interactions_filt), len(films)

(1491848, 6801)

In [17]:
interactions_filt

         user_id  item_id last_watch_dt  total_dur  watched_pct     uid    iid
1         699317     1659    2021-05-29       8317          100  560236   1604
3         864613     7638    2021-07-05      14483          100  692633   7376
5        1032142     6686    2021-05-13      11286          100  826986   6454
11        988709     7571    2021-07-07       6558          100  792263   7309
14          5324     8437    2021-04-18       6598           92    4271   8140
...          ...      ...           ...        ...          ...     ...    ...
5476240   802291      512    2021-08-08       6990          100  642768    496
5476241  1073802     9927    2021-08-07       6425           97  860383   9585
5476242   268216     3071    2021-04-21       5752           98  215082   2958
5476244   438585     7829    2021-08-02       6804          100  351522   7560
5476249   384202    16197    2021-04-19       6203          100  308069  15647

[1491848 rows x 7 columns]

In [18]:
# interactions_matrix = pd.pivot_table(interactions_filt, values="watched_pct", index="user_id", columns="item_id").fillna(0)

# print("Interactions matrix: \nshape=" + str(interactions_matrix.shape))
# print(f"Density: {(interactions_matrix != 0).values.sum() / interactions_matrix.size}")
# from scipy.sparse import csr_matrix

# user_index = interactions_filt['user_id'].map(user_id_map)
# item_index = interactions_filt['item_id'].map(item_id_map)

# interactions_sparse = csr_matrix(
#     (interactions_filt['watched_pct'].values, (user_index, item_index)),
#     shape=(user_ids.cat.categories.size, item_ids.cat.categories.size),
#     dtype=np.float32
# )

# print("Sparse Interactions matrix:")
# print(f"Shape: {interactions_sparse.shape}")
# density = interactions_sparse.count_nonzero() / (interactions_sparse.shape[0] * interactions_sparse.shape[1])
# print(f"Density: {density:.6f}")

In [19]:
triplets = interactions_filt[["user_id", "item_id"]]
del interactions_filt

In [20]:
NUM_NEGATIVE_SAMPLES = 10
triplets = pd.concat([triplets] * NUM_NEGATIVE_SAMPLES).sort_index().reset_index(drop=True)
triplets["film_neg"] = np.random.choice(items_ohe_df.index.unique(), len(triplets))

In [21]:
triplets

          user_id  item_id  film_neg
0          699317     1659      3296
1          699317     1659     11111
2          699317     1659     14649
3          699317     1659     13216
4          699317     1659      4173
...           ...      ...       ...
14918475   384202    16197      8394
14918476   384202    16197     12556
14918477   384202    16197       395
14918478   384202    16197      7101
14918479   384202    16197      3239

[14918480 rows x 3 columns]

In [22]:
triplets = triplets.rename(columns={ "item_id": "film_pos"})
triplets['film_pos'] = triplets['film_pos'].map(item_id_map)
triplets['film_neg'] = triplets['film_neg'].map(item_id_map)
triplets

          user_id  film_pos  film_neg
0          699317      1604      3177
1          699317      1604     10720
2          699317      1604     14144
3          699317      1604     12754
4          699317      1604      4022
...           ...       ...       ...
14918475   384202     15647      8101
14918476   384202     15647     12111
14918477   384202     15647       384
14918478   384202     15647      6854
14918479   384202     15647      3121

[14918480 rows x 3 columns]

In [23]:
rdm = np.random.random(len(triplets))
rdm2 = np.random.random(len(triplets))           # use only 20% of data
train_data = triplets[(rdm < 0.8) &              (rdm2 < 0.2)]
val_data = triplets[(rdm >= 0.8) & (rdm < 0.9) & (rdm2 < 0.2)]
test_data = triplets[(rdm >= 0.9) &              (rdm2 < 0.2)]

len(train_data), len(val_data), len(test_data)

(2388602, 298174, 299276)

In [24]:
items_df.shape, interactions_df.shape

((15963, 14), (2646592, 7))

In [25]:
NO_MOVIE = len(item_id_map) # arbitrary number bigger than largest item id

In [26]:
def pad_with_specific_value(lst, size, val):
    lst = list(set(lst))
    random.shuffle(lst)
    lst = lst[:size]
    return np.pad(lst, (0, size - len(lst)), 'constant', constant_values=(val))

padded_users = triplets.groupby("user_id").apply(lambda x: (
    pad_with_specific_value(x['film_pos'].tolist(), 30, NO_MOVIE).tolist()
))

padded_users = padded_users.reindex(range(2646592), fill_value=[NO_MOVIE] * 30)
padded_users = np.stack(padded_users.values)

/tmp/ipykernel_33905/4054235726.py:7: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  padded_users = triplets.groupby("user_id").apply(lambda x: (

In [27]:
padded_users

array([[15963, 15963, 15963, ..., 15963, 15963, 15963],
       [15963, 15963, 15963, ..., 15963, 15963, 15963],
       [ 7646,  8847,  6591, ..., 12509, 14671, 11129],
       ...,
       [15963, 15963, 15963, ..., 15963, 15963, 15963],
       [15963, 15963, 15963, ..., 15963, 15963, 15963],
       [15963, 15963, 15963, ..., 15963, 15963, 15963]],
      shape=(2646592, 30))

# Создаем датасет для обучения

In [6]:
class DSSMData(pl.LightningDataModule):
    def __init__(self, train_triplets, val_triplets, test_triplets, item_features, padded_users):
        super().__init__()
        self.train_triplets = train_triplets
        self.val_triplets = val_triplets
        self.test_triplets = test_triplets
        self.item_features = item_features
        self.padded_users = padded_users

    def _collect_data(self, triplets: pd.DataFrame):
        users = triplets["user_id"].values
        positives = triplets["film_pos"].values
        negatives = triplets["film_neg"].values
        print(f'Users: {users.shape}\nPositives: {positives.shape}\nNegatives: {negatives.shape}')
        # Wipe out positive interacted tracks from user listen history
        watched_movies = self.padded_users[users]
        watched_movies[np.isin(watched_movies, positives)] = NO_MOVIE
        watched_movies[np.isin(watched_movies, negatives)] = NO_MOVIE

        a = torch.from_numpy(watched_movies).to(dtype=torch.int32)
        # TODO: id которых нет в маппинге мапятся на 0, что плохо
        b = torch.from_numpy(items_ohe_df.loc[list(map(lambda id: item_id_map_to_orig.__getitem__(id), positives))].values).to(dtype=torch.float32)
        c = torch.from_numpy(items_ohe_df.loc[list(map(lambda id: item_id_map_to_orig.__getitem__(id), negatives))].values).to(dtype=torch.float32)
        print(a.shape, b.shape, c.shape)
        return td.TensorDataset(a, b, c)

    def prepare_data(self, stage=None):
        if stage == "fit" or stage is None:
            print('Get train data')
            self.train_dataset = self._collect_data(self.train_triplets)
            self.val_dataset = self._collect_data(self.val_triplets)
        elif stage == "test" or stage is None:
            self.test_dataset = self._collect_data(self.test_triplets)

    def train_dataloader(self):
        return td.DataLoader(self.train_dataset, batch_size=4096, shuffle=True, num_workers=4)

    def val_dataloader(self):
        return td.DataLoader(self.val_dataset, batch_size=4096, num_workers=4)

    def test_dataloader(self):
        return td.DataLoader(self.test_dataset, batch_size=4096, shuffle=False, num_workers=4)

In [7]:
class ItemNet(nn.Module):
    def __init__(self,
                 dim_embedding: int,
                 dim_input: int,
                 dim_hidden: int = 64, # 32
                 activation: tp.Callable[[torch.Tensor], torch.Tensor] = nn.ReLU()
                 ) -> None:
        super().__init__()
        self.embedding_layer = nn.Linear(dim_input - 1, dim_hidden, bias=False)
        # self.dense_layer = nn.Linear(dim_hidden + 1, dim_embedding, bias=False)
        self.dense_block = nn.Sequential(
            nn.Linear(dim_hidden + 1, int(dim_embedding // 2)),
            nn.ReLU(),
            # nn.Linear(int(dim_embedding // 2), int(dim_embedding // 2)),
            # nn.ReLU(),
            nn.Linear(int(dim_embedding // 2), dim_embedding),
            activation
        )
        self.output_layer = nn.Linear(dim_embedding + dim_hidden, dim_embedding, bias=False)
        self.norm = nn.LayerNorm(dim_embedding)

    def forward(self, item_features: torch.Tensor) -> torch.Tensor:
        popularity = item_features[:, 0].view(-1, 1)
        genre_emb = self.embedding_layer(item_features[:, 1:])

        pop_genre = torch.concat([popularity, genre_emb], axis=1)
        features = self.dense_block(pop_genre)

        genre_features = torch.concat([genre_emb, features], axis=1)
        output = self.output_layer(genre_features)
        return self.norm(output)


class UserNet(nn.Module):
    def __init__(self,
                 dim_embedding: int,
                 num_items: int,
                 activation: tp.Callable[[torch.Tensor], torch.Tensor] = nn.ReLU()
                 ) -> None:                              # | +1 for the NO_MOVIE element
        super().__init__()                               # V
        self.track_embeddings = nn.EmbeddingBag(num_items + 1, dim_embedding, padding_idx=num_items)
        # self.dense_layer = nn.Linear(dim_embedding, dim_embedding, bias=False)
        self.dense_layer = nn.Sequential(
            nn.Linear(dim_embedding, int(dim_embedding // 2)),
            nn.ReLU(),
            # nn.Linear(int(dim_embedding // 2), int(dim_embedding // 2)),
            # nn.ReLU(),
            nn.Linear(int(dim_embedding // 2), dim_embedding),
            activation
        )
        self.output_layer = nn.Linear(dim_embedding + dim_embedding, dim_embedding, bias=False)
        self.norm = nn.LayerNorm(dim_embedding)
        self.num_items = num_items

    def forward(self, user_ids: torch.Tensor) -> torch.Tensor:
        # print(f'EMBEDDING BAG MAX INPUT: {user_ids.max()} while was ready for {self.num_items}')
        interactions_emb = self.track_embeddings(user_ids)
        features = self.dense_layer(interactions_emb)
        x = torch.concat([interactions_emb, features], axis=1)
        output = self.output_layer(x)
        return self.norm(output)

In [8]:
class DSSM(pl.LightningModule):
    def __init__(self,
                 dim_item_features: int,
                 num_items: int,
                 embedding_dim: int = 100,
                 lr: float = 1e-3,
                 triplet_loss_margin: float = 0.4,
                 weight_decay: float = 1e-3,
                 log_to_prog_bar: bool = True,
                 ) -> None:
        super().__init__()
        self.lr = lr
        self.triplet_loss_margin = triplet_loss_margin
        self.weight_decay = weight_decay
        self.log_to_prog_bar = log_to_prog_bar
        self.item_net = ItemNet(embedding_dim, dim_item_features)
        self.user_net = UserNet(embedding_dim, num_items)

    def forward(self,
                user_ids: torch.Tensor,
                item_features_pos: torch.Tensor,
                item_features_neg: torch.Tensor,
                ) -> tp.Tuple[torch.Tensor, torch.Tensor, torch.Tensor]:
        anchor = self.user_net(user_ids)
        pos = self.item_net(item_features_pos)
        neg = self.item_net(item_features_neg)

        return anchor, pos, neg

    def _step(self, batch, batch_idx, metric, prog_bar=False):
        user_ids, pos, neg = batch
        anchor, positive, negative = self(user_ids, pos, neg)
        loss = F.triplet_margin_loss(anchor, positive, negative, margin=self.triplet_loss_margin)
        self.log(metric, loss, prog_bar=prog_bar)
        return loss

    def training_step(self, batch: tp.Sequence[torch.Tensor], batch_idx: int) -> torch.Tensor:
        return self._step(batch, batch_idx, "train_loss")

    def validation_step(self, batch: tp.Sequence[torch.Tensor], batch_idx: int) -> torch.Tensor:
        return self._step(batch, batch_idx, "val_loss", self.log_to_prog_bar)

    def test_step(self, batch, batch_idx, prog_bar=False):
        return self._step(batch, batch_idx, "test_loss", self.log_to_prog_bar)

    def inference(self, dataloader: td.DataLoader[tp.Any], mode: str = "item") -> np.ndarray:
        if mode == "user":
          model = self.user_net
        elif mode == "item":
          model = self.item_net
        else:
          raise ValueError(f"Unsupported mode {mode}!")

        self.eval()

        batches = []
        user_ids = []
        for ids, features in dataloader:
            with torch.no_grad():
                batch_embeddings = model(features.to(self.device))
            batches.append(batch_embeddings)
            user_ids.append(ids)
        vectors = torch.cat(batches, dim=0).cpu().numpy()
        vectors_ids = torch.cat(user_ids, dim=0).cpu().numpy()
        return vectors_ids, vectors

    def configure_optimizers(self):
        optimizer = torch.optim.Adam(self.parameters(), lr=self.lr, weight_decay=self.weight_decay)
        # lr_scheduler = torch.optim.lr_scheduler.ReduceLROnPlateau(optimizer, patience=3, threshold=2.5e-2, threshold_mode='rel')
        lr_scheduler = torch.optim.lr_scheduler.ReduceLROnPlateau(optimizer, patience=3, threshold=2e-3, threshold_mode='abs')
        scheduler = {
            'scheduler': lr_scheduler,
            'monitor': 'val_loss'
        }
        return [optimizer], [scheduler]

In [9]:
from pytorch_lightning.callbacks.early_stopping import EarlyStopping

class RelativeEarlyStopping(EarlyStopping):
    def __init__(
        self,
        monitor: str = "val_loss",
        patience: int = 5,
        relative_threshold: float = 1e-4,  # 0.01%
        verbose: bool = True,
    ):
        super().__init__(
            monitor=monitor,
            patience=patience,
            min_delta=0,  # We handle delta ourselves
            mode="min",
            verbose=verbose,
        )
        self.relative_threshold = relative_threshold

    def _evaluate_stopping_criteria(self, current: torch.Tensor):
        if self.best_score is None:  # First evaluation
            return False, None
            
        # Calculate relative change
        relative_change = abs((current - self.best_score) / self.best_score)
        
        if relative_change < self.relative_threshold:
            self.wait_count += 1
            if self.verbose:
                print(f"Relative change {relative_change:.4%} < threshold {self.relative_threshold:.4%}")
        else:
            if self.verbose:
                print(f"Relative change {relative_change:.4%} >= threshold {self.relative_threshold:.4%}")
            self.wait_count = 0
            
        should_stop = self.wait_count >= self.patience
        reason = (f"Relative change {relative_change:.4%} < threshold {self.relative_threshold:.4%}" 
                 if should_stop else None)
        return should_stop, reason

# Обучение

In [10]:
EMBEDDING_DIM = 96
EXPERIMENT_NAME = 'dssm_layernorm_params_arch_5'

data_module = DSSMData(train_data, val_data, test_data, items_ohe_df, padded_users)
net = DSSM(dim_item_features=items_ohe_df.shape[1],
           num_items=len(item_id_map),
           embedding_dim=EMBEDDING_DIM
           ).to(dtype=torch.float32)

trainer = pl.Trainer(
    max_epochs=25,
    accelerator='cuda',
    devices=1,
    callbacks=[
        # RelativeEarlyStopping(monitor="val_loss", patience=5, relative_threshold=1.5e-2, verbose=True),
        callbacks.EarlyStopping(monitor="val_loss", patience=5, min_delta=2e-3, verbose=True),
        callbacks.LearningRateMonitor(logging_interval="step"),
        (checkpoint_callback := callbacks.ModelCheckpoint(monitor="val_loss")),
    ]
)

NameError: name 'train_data' is not defined

In [33]:
trainer.fit(
    net,
    data_module, 
    # ckpt_path='/home/serg_fedchn/Homework/6_semester/RecSys/recsys-course-spring-2025/jupyter/lightning_logs/version_13/checkpoints/epoch=32-step=63393.ckpt'
)

Get train data
Users: (2388602,)
Positives: (2388602,)
Negatives: (2388602,)
torch.Size([2388602, 30]) torch.Size([2388602, 579]) torch.Size([2388602, 579])
Users: (298174,)
Positives: (298174,)
Negatives: (298174,)

LOCAL_RANK: 0 - CUDA_VISIBLE_DEVICES: [0]

  | Name     | Type    | Params | Mode
---------------------------------------------
0 | item_net | ItemNet | 60.4 K | train
1 | user_net | UserNet | 1.6 M  | train
---------------------------------------------
1.6 M     Trainable params
0         Non-trainable params
1.6 M     Total params
6.484     Total estimated model params size (MB)
18        Modules in train mode
0         Modules in eval mode

torch.Size([298174, 30]) torch.Size([298174, 579]) torch.Size([298174, 579])

Sanity Checking: |          | 0/? [00:00<?, ?it/s]

Training: |          | 0/? [00:00<?, ?it/s]

Validation: |          | 0/? [00:00<?, ?it/s]

Metric val_loss improved. New best score: 0.150

Validation: |          | 0/? [00:00<?, ?it/s]

Metric val_loss improved by 0.002 >= min_delta = 0.002. New best score: 0.148

Validation: |          | 0/? [00:00<?, ?it/s]

Validation: |          | 0/? [00:00<?, ?it/s]

Validation: |          | 0/? [00:00<?, ?it/s]

Validation: |          | 0/? [00:00<?, ?it/s]

Validation: |          | 0/? [00:00<?, ?it/s]

Metric val_loss improved by 0.004 >= min_delta = 0.002. New best score: 0.144

Validation: |          | 0/? [00:00<?, ?it/s]

Validation: |          | 0/? [00:00<?, ?it/s]

Validation: |          | 0/? [00:00<?, ?it/s]

Validation: |          | 0/? [00:00<?, ?it/s]

Validation: |          | 0/? [00:00<?, ?it/s]

Monitored metric val_loss did not improve in the last 5 records. Best score: 0.144. Signaling Trainer to stop.

In [34]:
checkpoint_callback.best_model_path

'/home/serg_fedchn/Homework/6_semester/DL/reelrecs/lightning_logs/version_11/checkpoints/epoch=11-step=14004.ckpt'

In [35]:
shutil.move(checkpoint_callback.best_model_path, f"/home/serg_fedchn/Homework/6_semester/DL/reelrecs/model_weights/{EXPERIMENT_NAME}.ckpt")

'/home/serg_fedchn/Homework/6_semester/DL/reelrecs/model_weights/dssm_layernorm_params_arch_5.ckpt'

In [11]:
best_dssm = DSSM.load_from_checkpoint(f"/home/serg_fedchn/Homework/6_semester/DL/reelrecs/model_weights/{EXPERIMENT_NAME}.ckpt",
                                      dim_item_features=items_ohe_df.shape[1],
                                      num_items=len(item_id_map),
                                      embedding_dim=EMBEDDING_DIM)

NameError: name 'items_ohe_df' is not defined